
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.main-container {
    padding-top: 75px;
    min-height: 100vh;
    background-image: url("/images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
