.navbar {
    background-color: transparent !important;
    height: 75px;
    box-shadow: unset !important;
    a {
        color: white !important;
    }
    .dropdown-menu a {
        color: black !important;
    }
}

.navbar-brand {
    font-family: 'Ultra', serif;
    font-size: 30px;
    letter-spacing: 1.2px;
}
