.navbar {
    background-color: $blue !important;
    height: 75px;
    position: fixed;
    width: 100vw;
    z-index: 999;
    a {
        color: white !important;
    }
    .dropdown-menu a {
        color: black !important;
    }
}

.navbar-brand {
    font-family: 'Ultra', serif;
    font-size: 30px;
    letter-spacing: 1.2px;
}
