.home-container {
    .MuiCard-root {
        margin-bottom: 20px;
        min-height: 120px;
    }
    .MuiAvatar-colorDefault {
        background-color: #f14f87 !important;
    }
    .MuiCardActions-root {
        padding-left: 65px;
    }
}

.main-page-image {
    background-image: url("/images/sydney.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}